.wrapper {
  width: 100%;
  /* background-color: red; */
  position: relative;
  cursor: pointer;
  /* z-index: 1000; */
  overflow: hidden;
}

.ripple {
  position: absolute;
  background: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: rippleEffect 1s linear infinite;
}

.rippleDark {
  background: var(--dark-2);
}

@keyframes rippleEffect {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 50rem;
    height: 50rem;
    opacity: 0;
  }
}
