.changePassword {
  position: relative;
  background-color: #fff;
  min-width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.confirmed input {
  color: var(--dark-1);
}

.notConfirmed input {
  color: var(--error);
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--dark-1);
  cursor: pointer;
  transition: all 0.2s ease;
}

.close svg {
  color: var(--dark-1);
}

.changePassword form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.changePassword form > p {
  color: #5e5e5e;
}
