// $primary: #0F1B4C;
$primary: var(--dark-2);
// $secondary: #0689ff;
$secondary: var(--dark-1);
$accent: var(--accent);
$text-dark: var(--dark-3);
$text-dark-50: #3b3c45;
$text-light: #5a6473;
$text-gray: #7d8589;
$text-hero-title: var(--dark-1);
$text-gray-light: #a3a6ab;
$white: #ffffff;
// $hero-bg: #e6f0ff;
$hero-bg: var(--light-2);
// $properties-bg: #f5fafe;
$properties-bg: #eff7f5;
// $newsletter-bg: #063183;
$newsletter-bg: var(--dark-2);
// $container: 122rem;
$container: 79rem;
// $nav-height: 7rem;
$nav-height: 3rem;
$transition: all 0.5s ease-in-out;
