#newsletter {
  // @include p(4rem 0);
  @include p(2.6rem 0);
  & .newsletter {
    background: $newsletter-bg;
    color: $white;
    // border-radius: 2rem;
    border-radius: 1.3rem;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(17.55rem, 1fr));
    // gap: 2rem;
    gap: 1.3rem;
    align-items: center;
    justify-content: center;
    @include media(max, 425) {
      text-align: center;
    }
    & .newsletter-content {
      // @include p(4rem);
      @include p(2.6rem);
      @include media(max, 483) {
        // @include p(4rem 2rem);
        @include p(2.6rem 1.3rem);
      }
      & h1 {
        // font-size: 3.5rem;
        font-size: 2.275rem;
        font-weight: 600;
      }
      & .btn {
        background: $white;
        color: $text-dark;
        font-weight: 600;
      }
    }
    & .newsletter-image {
      width: 100%;
      text-align: center;
      & .newsletter_img {
        width: 100%;
        height: 110%;
        // margin-top: -4rem;
        margin-top: -2.6rem;
        // margin-bottom: -0.8rem;
        margin-bottom: -0.52rem;
        @include media(max, 689) {
          // height: 37rem !important;
          height: 24rem !important;
        }
        @include media(max, 574) {
          // width: calc(100% - 10rem);
          width: calc(100% - 6.5rem);
          // margin-left: 10rem !important;
          margin-left: 6.5rem !important;
        }
        @include media(max, 483) {
          // width: calc(100% - 5rem);
          width: calc(100% - 3.25rem);
          // margin-left: 5rem !important;
          margin-left: 3.25rem !important;
        }
      }
    }
  }
}
