.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container span {
  background-color: var(--light-1);
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container small {
  padding: 0 0.5rem;
  width: 1.5rem;
}
